body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
  font-family: "VT323", monospace !important;
}

button {
  padding: 15px 45px;
  position: relative;
  outline: none;
  text-align: center;
  transition: 0.5s;
  background: transparent;
  border: solid 1px black;
  font-family: "VT323", monospace !important;
  font-size: 26px;
  cursor: pointer;
}

button:hover {
  background: red url("./images/buttonPixel.png");
  transition-delay: 0.4s;
  animation: animate 0.4s steps(8) forwards;
  background-size: 180px;
  border: solid 1px red;
  color: white;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -400px;
  }
}

circle {
  fill: none;
  stroke: black;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

circle:nth-child(2) {
  stroke: orange;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

svg,
.PercentContainer {
  width: 150px;
  height: 150px;
  z-index: 1000;
  position: relative;
}

.PercentContainer {
  border-radius: 50%;
}

.Percent {
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.StrokedCircle {
  height: 100%;
  width: 100%;
}

.LoginScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: lightgray;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginScreen__Welcome {
  font-size: 60px;
  margin-bottom: 30px;
}
