body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
  font-family: "VT323", monospace !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.7);
}

.container {
  max-width: 1300px;
  width: 95%;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 15px 45px;
  position: relative;
  outline: none;
  text-align: center;
  transition: 0.5s;
  background: transparent;
  border: solid 1px black;
  font-family: "VT323", monospace !important;
  font-size: 26px;
  cursor: pointer;
}

.buttonFocus {
  background: red url("./images/buttonPixel.png");
  background-size: 180px;
  border: solid 1px red;
  color: white;
}

button:hover {
  background: red url("./images/buttonPixel.png");
  transition-delay: 0.4s;
  animation: animate 0.4s steps(8) forwards;
  background-size: 180px;
  border: solid 1px red;
  color: white;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -400px;
  }
}

circle {
  fill: none;
  stroke: black;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

circle:nth-child(2) {
  transition: 0.5s;
  stroke: red;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
}

svg,
.PercentContainer {
  width: 150px;
  height: 150px;
  z-index: 1000;
  position: relative;
}

.PercentContainer {
  border-radius: 50%;
}

.Percent {
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.StrokedCircle {
  height: 100%;
  width: 100%;
}

.LoginScreen {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: lightgray;
  z-index: 9999999999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  display: none;
}

.LoginScreen__Welcome {
  font-size: 60px;
  margin-bottom: 30px;
}

.Main {
  display: flex;
  width: 100%;
  gap: 20px;
}

.Game {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.CoolOff {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.CoolOff__Title {
  margin-bottom: 20px;
}

.SelectRoom {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Chat {
  width: 300px;
  max-height: 600px;
  overflow-x: hidden;
  display: none;
  flex-direction: column;
}
.Chat__Title {
  padding: 10px 20px;
  background-color: black;
  color: white;
  width: 100%;
}
.Chat__View {
  font-size: 22px;
  max-height: 400px;
  overflow-y: auto;
  border: solid 2px grey;
  border-top: none;
  flex-grow: 1;
  padding: 10px 20px;
}
.Chat__InputBar {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: solid 2px grey;
  border-top: none;
  display: flex;
}

.ChatForm {
  margin: 0;
}
.ChatForm__Input {
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  transition: 0.5s;
  width: 100%;
  padding: 5px 0;
}
.ChatForm__Input:focus {
  border-bottom: 2px red solid;
}
